{% extends "auctions/layout.html" %}

{% block body %}
    {% load static %}
    <div class="row justify-content-center">
        <form method="POST" action="{% url 'newlisting' %}">
            {% csrf_token %}
            <div>Hey {{ username }}, here you can create a <h2>New Listing</h2></div><br>
            <input type="hidden" name="user" value="{{ username }}">
            <div class="form-group">
              <label>Title</label>
              <input type="text" class="form-control" name="title">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" name="description" rows="3"></textarea>
            </div>              
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                  <span class="input-group-text">0.00</span>
                </div>
                <input type="text" name="startingprice" placeholder="Starting Bid" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
            </div>
            <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Categories</label>
            </div>
            <select class="custom-select" name="categoryname">
                <option selected>Choose Category...</option>
                <option value="Hello">Hello</option>
                <option value="Tech">Tech</option>
                <option value="Accessoriesng">Accessories</option>
                <option value="noimage">No category</option>
            </select>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" name="imagename" placeholder="Add image for chosen cateogory">
                </div>
              </div>
              <input type="text" class="form-control" placeholder="Select to add image for chosen cateogory" readonly>
            </div>
            </div>
            <div class="input-group-append">
                <input type="submit" value="Publish" class="btn btn-primary">
            </div>
          </form>
    </div>
{% endblock %}