{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div>{{ username }}</div>
    {% load static %}
    <div class="row justify-content-center">
    {% for listing in listings %}
    {% if listing.imagename|length < 3%}
    <div class="card bg-light mx-3 mb-3" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'images/noimage.png' %}" alt="Listing No Image">
        <div class="card-body align-items-center text-center">
            <h5 class="card-title">
                <div class="input-group-prepend">
                    <span class="input-group-text list-group-item list-group-item-action list-group-item-primary" id="inputGroup-sizing-lg">Title:  <a href="{% url 'index' %}">{{ listing.title }}</a></span>
                </div>
            </h5>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Description:</span>
            </div>
            <input type="text" class="form-control" value="{{ listing.description }}" aria-describedby="inputGroup-sizing-sm" readonly>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Starting bid:</span>
            </div>
            <input type="text" class="form-control" value="{{ listing.startingprice }}" aria-describedby="inputGroup-sizing-sm" readonly>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Category:</span>
            </div>
              <input type="text" class="form-control" value="{{ listing.categoryname }}" aria-describedby="inputGroup-sizing-sm" readonly>
        </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Owner:</span>
                </div>
                  <input type="text" class="form-control" value="{{ listing.user }}" aria-describedby="inputGroup-sizing-sm" readonly>
            </div>
        <a href="#" class="btn btn-primary">Place a Bid</a>
        </div>
    </div>   
    {% else %}
    <div class="card bg-light mx-3 mb-3" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'images/'|add:listing.imagename' %}" alt="Listing Image">
            <div class="card-body align-items-center text-center">
            <h5 class="card-title">
                <div class="input-group-prepend">
                    <span class="input-group-text list-group-item list-group-item-action list-group-item-primary" id="inputGroup-sizing-lg">Title:  <a href="{% url 'index' %}">{{ listing.title }}</a></span>
                </div>
            </h5>

            




            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Description:</span>
                </div>
                <input type="text" class="form-control" value="{{ listing.description }}" aria-describedby="inputGroup-sizing-sm" readonly>
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Starting bid:</span>
                </div>
                <input type="text" class="form-control" value="{{ listing.startingprice }}" aria-describedby="inputGroup-sizing-sm" readonly>
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Category:</span>
                </div>
                  <input type="text" class="form-control" value="{{ listing.categoryname }}" aria-describedby="inputGroup-sizing-sm" readonly>
            </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Owner:</span>
                    </div>
                      <input type="text" class="form-control" value="{{ listing.user }}" aria-describedby="inputGroup-sizing-sm" readonly>
                </div>
            <a href="#" class="btn btn-primary">Place a Bid</a>
            </div>
        </div>
    {% endif %}
    {% endfor %}
    </div>
{% endblock %}